@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hovside {
    color: #ffcd00;
    border-radius: 8px;
    background: linear-gradient(
      187deg,
      rgba(255, 236, 157, 0.1) 0%,
      rgba(255, 199, 0, 0.1) 53.44%,
      rgba(255, 205, 0, 0.1) 100%
    );
  }
  .flex-chart {
    display: flex;
    gap: 24px;
    flex-direction: row;
  }
  .flex-chart > div:first-child {
    flex: 5;
  }
  .flex-chart > div:last-child {
    flex: 2;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
